<form class="form-vertical">
	<div class="control-group">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" id="name" placeholder="Name" value="<%= name %>"/>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<textarea id="description" placeholder="Description"><%= description %></textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="servings">Servings</label>
		<div class="controls">
			<input type="text" id="servings" placeholder="Servings" value="<%= servings %>"/>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="ingredients">Ingredients</label>
		<div class="controls">
			<textarea id="ingredients" placeholder="Ingredients"><%= ingredients %></textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="directions">Directions</label>
		<div class="controls">
			<textarea id="directions" placeholder="Directions"><%= directions %>"></textarea>
		</div>
	</div>

	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="Save" />
		<a href="#" class="btn btn-danger">Cancel</a>
	</div>
</form>